/* Estilos boton color lila */
.btn-bd-primary{font-weight:600;color:#fff;background-color:#000000;border-color:#7952b3}
.btn-bd-primary:hover,.btn-bd-primary:active{color:rgb(255, 255, 255);background-color:#65557e;border-color:#61428f}
.btn-bd-primary:focus{box-shadow:0 0 0 3px rgba(121,82,179,0.25)}
.btn-bd2-primary{font-weight:600;color:#fff;background-color:#420466b6;border-color:#000000}
.btn-bd2-primary:hover,.btn-bd2-primary:active{color:rgb(255, 255, 255);background-color:#13cf32;border-color:#2b0463}
.btn-bd2-primary:focus{box-shadow:0 0 0 3px rgba(19, 224, 11, 0.25)}
.card-header-second{height:50px;background: linear-gradient(-90deg,#54009e,#0a0a0a);}



